* {
    margin : 0;
    padding: 0;
}

html, body {
   height: 100%;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
   Geneva, Verdana, sans-serif; 

}

#container {

    display: flex;
    background-color: black;
    height : 100%;
    align-items: center;
    flex-direction:column;

}


header {
    margin-top: 20px;
    padding-bottom: 20px;
    
    border-bottom : 1px solid rgb(58,58,60);
}

.title {
    color: gainsboro;
    font-size: 2.5rem;
    font-weight: bold;
    margin : 0.4 rem 0 0.4 rem 0;
    text-align : center; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow:1;
    overflow: hidden;

}

#board {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding:10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid rgb(58,58,60);
    min-width: 60px;
    min-height: 60px;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;

}
.loading-spiral{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spiral{
    font-size:40px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.hidden {
    visibility: hidden;
  }  

#game {
    width: 100%;
    max-width: 500px;
    display:flex;
    flex-direction: column;
}

#keyboard-container {
    height : 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    height : 58px;
    cursor: pointer;
    background-color: rgb(129,131,132);
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    flex-grow: 1;

}

.keyboard-row button.wide-button {
    flex-grow: 1.5;

}

.spacer-half {
    flex-grow:0.5;
}

/* winner animation */

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }
  
  .winner {
    animation: rainbow 4s infinite linear;
  }

  @keyframes flash {
    5% {
      border-color: crimson;
    }
  
    100% {
      border-color: #ccc;
    }
  }
  .correct {
    background-color: darkgreen;
    color: white;
  }
  
  .close {
    background-color: goldenrod;
    color: white;
  }
  
  .wrong {
    background-color: #888;
    color: white; 
  }
  
  .invalid {
    animation: flash 1s;
  }  